<div>
    <h4>Géneros de manga</h4>
    <ul>
        <li>Shonen</li>
        <li>Seinen</li>
        <li>Drama</li>
        <li>Terror</li>
        <li>Fantasia</li>
        <li>Gore</li>
        <li>Romance</li>
    </ul>
</div>