<div>

    <h4>Personajes Populares</h4>
    <ul>
        <li>Naruto Uzumaki</li>
        <li>Gut</li>
        <li>Itachi Uchiha</li>
        <li>Sasuke Uchiha</li>
        <li>Monkey D. Luffy</li>
        <li>Roronoa Zoro</li>
        <li>Sanji</li>
        <li>Tanjiro Kamado</li>
        <li>Goku</li>
        <li>Kakashi Hatake</li>
        <li>Saitama</li>
        <li>Satoru Gojo</li>
    </ul>
</div>

